.button{
    position: absolute;
    height: inherit;
 
    top: 110px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__pre{
        position: relative;
        z-index: 1;
        cursor: pointer;
        width:5%;
    }

    &__pre hr{
        border: 0;
        clear:both;
        display:block;
        width: 100%;
        margin-top: 350px;
        background-color: $grey;
        height: 5px;
    }

    &__pre:hover{
        opacity: .5;
        transition: .3s;
    }

    &__next{
        position: relative;
        z-index: 1;
        cursor: pointer;
        width: 5%;
    }

    &__next:hover{
        opacity: .5;
        transition: .3s;
    }

    &__next hr{
        border: 0;
        clear:both;
        display:block;
        width: 100%;
        margin-top: 350px;
        background-color: $grey;
        height: 5px;
    }
    &__top{
        width: 60px;
        height: 30px;
    }
    &__hiding-top{
        border-style: solid;
        border-width: 0 30px 30px 30px;
        border-color: transparent transparent #eb5e00 transparent;
        
    }
    &__bot{
        width: 60px;
        height: 30px;
    }
    &__hiding-bot{
        border-style: solid;
        border-width: 30px 30px 0 30px;
        border-color: #ff6600 transparent transparent transparent;
    }

}

.btn{
    margin-top: 10px;
    display: inline-block;
}
.btn-reg{
    background: none;
    border: none;
    border-radius: 0;

    color: $white;

    width: 100px;
    height: 30px;

    margin: 0 auto;

    background: $main-color;

    &:hover{
        transition:  .3s ;
        background-color: #d15a0a;
    }

}
