.catalog{
    padding-top: 50px;
    color: black;
    &__conteiner{
        width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        padding-left: 18px;
        width: 33.333%;
        padding-bottom: 50px;
        position: relative;
    }
    &__link{
        color: $black;
        font-size: $fs17px;
    }
    &__img{
        width: 300px;
        height: 300px;
    }
    &__img:hover{
        transition: .3s;
        opacity: .7;
    }
    &__titele{
        display: inline-block;
        padding-top: 10px;
    }
    &__titele:hover{
        
        opacity: .7;
    }
    &__price{
        
        padding-top: 10px;
        font-weight: normal;
        font-size: $fs14px;
    }
    &__basket{
        width: 24px;
        height: 24px;
        background-image: url("/assets/images/information-bye/shopping-cart-white.png");
        background-position: 0px 0;
        position: absolute;
        right: 70px;
        bottom: 67px;
        z-index: 10;
        background-color: $white-opasity;
        img{
            display: block;
        }
    }
    &__basket:hover{
        transition: .3s;
        background-image: url("/assets/images/information-bye/shopping-cart-color.png")
    }
    &__folow{
        background-color: $white-opasity;
        width: 24px;
        height: 24px;
        background-image: url("/assets/images/information-bye/heart-white.png");
        background-position: 0px 0;

        position: absolute;
        right: 30px;
        bottom: 67px;
        z-index: 10;
        
        
        &.active{
            background-image: url("/assets/images/information-bye/like.png");
        }
    }
   
    &__folow:hover{
        transition: .3s;
        background-image: url("/assets/images/information-bye/like.png");
    }
}

.catalog__basket--card__btn{
    top: 10px;
    left: 10px;
}
.catalog__folow--card__btn{
    top: 10px;
    left: 50px;
}