.form{
    margin-top: 20px;
    &__grop--mt{
        margin-top: 25px;
    }
    &__grop--content{
        width: 500px;
    }
}

.form__group{
    margin-bottom: 15px;
    position: relative;

    &__grop--md{
        margin-bottom: 25px;
    }
  
  
}
.form__control{
    display: block;
    width: 100%;
    padding: 5px 0 ;

    background: none;
    border: none;
    border-bottom: 1px solid $grey;
    border-radius: 0;

    font-family: inherit;
    font-size: 14px;
    color: $white;
    
    &--black{
        color: $balck-text;
    }

    &:focus + .form__line{
        width: 100%;
    }

    &::placeholder{
        color: $grey;
    }
}
.form__line{
    width: 0;
    height: 1px;

    background-color: $main-color;

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;

    transition: width .3s linear;
}

.form__close{
    position: absolute;
    cursor: pointer;

    right: 20px;
    top: 20px;

    transition: transform .2s linear;

    &:hover{
        transform: rotate(90deg);
    }
}

.profile__title{    
    font-size: $fs48px;
    font-weight: bold;
    text-align: center;
    color: $white;

}
.profile__bg{
    padding-top: 50px;
    padding-bottom: 100px;
    background: $footebbg;
}
.profile{
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    margin: 0 auto;
    
}
.profile__avatar{
    flex-grow: 1;
    padding-top: 20px;
    padding-left: 100px;
}

.img{
    width: 150px;
    height: 150px;
    display: block;
    margin-bottom: 15px;
}

.profile__file{
    font-size: $fs14px;
    color: $main-color;
    text-decoration: underline;
    cursor: pointer;
    &:hover{
        text-decoration: none;
    }
    input{
        display: none;
    }
}

