.information{
    color: $balck-text;
    
    padding: 50px 0 ;
    min-height: 500px;
    background-color: $white-opasity;

  

    &__conteiner{
        
        width: 90%;
        margin: 0 auto;
    }
   
}