.blog{
    padding-top: 100px;
    padding-bottom: 70px;
    background-color: $white-opasity;
    color: black;
    &__title{
        text-align: center;
        font-size: $fs50px;
        margin-bottom: 20px;
    }
    &__subtitle{
        text-align: center;
        color: $grey-text;
        padding-bottom: 90px;
    }
}

.news__conteiner{
    width: 1200px;
    margin: 0 auto;
}

.news{
    display: flex;
    flex-wrap: wrap;

    &__item{
        width: 50%;
        height: 590px;
        overflow: hidden;
        
    }
    &__item-img{
        background-color: rgba(0, 0, 0, 1);
        width: 100%;
    }

}
.shape{
    margin: 0 auto;
    margin-top: 25px;
    width: 35px;
    height: 10px;
}
.sub{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;

    &__item{
        width: 50%;
    }
    &__item img{
        width: 100%;
    }
}
.news-link{
    font-size: $fs18px;
    cursor: pointer;
    background-color: $white;
    text-align: center;
    padding-top: 120px;
}
// .news-link::after{
//     content: "";
//     display: block;
//     position: relative;
//     margin-left: 300px;
//     margin-top: -60px;
//     border-style: solid;
//     border-width: 15px 0 15px 20px;
//     border-color: transparent transparent transparent $white;
// }

.news-link:hover{
    transition: .3s;
    font-size: $fs20px;
    .shape{
        transition: .3s;
        width: 45px;
        height: 15px;
    }

}

