.stand {
    height: 800px;
    background: black;

    &__flex{
        position: absolute;
        z-index: 3;
        left: 46%;
        top: 90%
    }
    
}


.conteiner{
    position: relative;
    z-index: 100;
    width: 850px;
    height: inherit;
    margin: 0 auto;

    &-list{
        width: 1000px;
        min-height: 100px;
       
    }

    &__logo{
        margin: 0 auto;
        padding-top: 12.5%;
        width: 90px;
        height: 80px;
    }

    &__logo-sub{
        padding-top: 28px;
        border-bottom: 2px solid $main-color;
    }

    &__title{
        text-align: center;
        padding-top: 25%;
        font-size: $fs80px;
    }

    &__subtitle{
        text-align: center;
        padding-top: 5%;

        color: $white-opasity;
        font-weight: normal;
    }

    &__btn{
        padding-top: 15%;
        text-align: center;
    }
    &__btn-link{
        display: inline-block;
        
        color: $white;
        font-size: $fs12px;
        
        border: 2px solid $white;
        padding: 20px 20px 20px 33px;
    }
    &__btn-link:hover{
        background-color: $main-color;
        transition: .3s;
    }
    &__btn-link::after{
        content: "";
        
        padding-left: 30px;
        background-image: url("/assets/images/arrow.png");
        background-repeat: no-repeat;
        background-position: 20px 1.5px;
    }

    &__listInf{
        margin: 0 auto;
        padding-top: 10%;
        display: flex;
        justify-content: space-between;
        width: 100px;
    }


}
.puma{
    margin-left: -12px;
}

.dots{
    height: 10px;
    width: 10px;
    border: 1px solid $grey;
    border-radius: 50%;
    background-color: $grey;
    cursor: pointer;

    &-active{
        border: 1px solid $white;
        background-color: $white;
    }
}


