$main-color:    #ff6600;
$black:         #101010;
$balck-text:    #070707;
$border:        #ebebeb;
$white:         #ffffff;
$white-opasity: #f4f4f4;
$sub-titile:    #bcbcbc;  
$white-text:    #8f8f8f;
$grey-text:     #858585;
$grey:          #999999;
$prefooter:     #e1e1e1;
$footebbg:      #161616;


$fs10px: 10px;
$fs11px: 11px;
$fs12px: 12px;
$fs14px: 14px;
$fs17px: 17px;
$fs18px: 18px;
$fs20px: 20px;
$fs48px: 48px;
$fs50px: 50px;
$fs80px: 80px;
