@import "vender/reset.scss";
@import "_vars.scss";
@import "block/header.scss";
@import "block/stand.scss";
@import "block/slide.scss";
@import "block/button.scss";
@import "block/news.scss";
@import "block/catalog.scss";
@import "block/product.scss";
@import "block/information.scss";
@import "block/card.scss";
@import "block/header-inf.scss";
@import "block/social.scss";
@import "block/comment.scss";
@import "block/reg-modal.scss";
@import "block/form.scss";
@import "block/wish_list.scss";
@import "block/basket-modal.scss";
@import "block/admin.scss";
@import "block/select.scss";
@import "block/replenishment__balance.scss";



@import "block/prefooter.scss";

/* FONTS */

// @font-face {
//     font-family: 'Nova-Bold';
//     src:url('ProximaNova-Bold.ttf') format('truetype');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }
// @font-face {
//     font-family: 'Nova-Regular';
//     src: url('ProximaNova-Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }


body {
    font-family: 'Nova-Bold';
    font-weight: bold;
    font-size: 20px;
    color: white;

    &.no-scroll{
        overflow: hidden;
    }
    
}
