<footer>
  <div class="footer__top">
    <div class="footer__conteiner-top">
      <div class="prefooter">
        <img
          src="./assets/images/footer/footer-adidas.png"
          alt=""
          class="prefooter__item"
        />
        <img
          src="./assets/images/footer/footer-new balance.png"
          alt=""
          class="prefooter__item"
        />
        <img
          src="./assets/images/footer/footer-nike.png"
          alt=""
          class="prefooter__item"
        />
        <img
          src="./assets/images/footer/footer-puma.png"
          alt=""
          class="prefooter__item"
        />
        <img
          src="./assets/images/footer/footer-jordan.png"
          alt=""
          class="prefooter__item"
        />
        <img
          src="./assets/images/footer/footer-asics.png"
          alt=""
          class="prefooter__item"
        />
      </div>
    </div>
  </div>

  <div class="footer__click" id="btn">
    <img src="./assets/images/footer/arrow.png" alt="" class="footer__img" />
    <div class="button__top">
      <div class="button__hiding-top"></div>
    </div>
    <div class="button__bot">
      <div class="button__hiding-bot"></div>
    </div>
  </div>

  <div class="footer__bottom" id="hidden">
    <div class="footer__conteiner">
      <div class="footer__list">
        <div class="footer__list-left">
          <div class="footer__list-Leftitem"><a href="#">Online store </a></div>
          <div class="footer__list-Leftitem"><a href="#">How to order </a></div>
          <div class="footer__list-Leftitem"><a href="#">Blog </a></div>
          <div class="footer__list-Leftitem"><a href="#">My Accaunt </a></div>
          <div class="footer__list-Leftitem"><a href="#">Contact </a></div>
        </div>
        <a href="#"
          ><div class="footer__list-item">
            <img
              src="./assets/images/logo.png"
              alt=""
              width="160"
              height="90px"
            /></div
        ></a>
        <div class="footer__list-right">
          <div class="footer__list-Rightitem">
            <a href="#">Shipping Policy </a>
          </div>
          <div class="footer__list-Rightitem"><a href="#">Terms </a></div>
          <div class="footer__list-Rightitem"><a href="#">FAQ’s </a></div>
          <div class="footer__list-Rightitem"><a href="#">Privacy </a></div>
          <div class="footer__list-Rightitem">
            <a href="#"> Site Security </a>
          </div>
        </div>
      </div>

      <div class="footer__nav footnav">
        <div class="footnav__line"><hr /></div>
        <div class="footnav__item">
          <a href="https://t.me/Nik_Voi" class="footer__nav-link" target="blank"
            ><img src="./assets/images/footer/telegram.png" alt=""
          /></a>
          <a
            href="https://www.instagram.com/nik_voi/"
            class="footer__nav-link"
            target="blank"
            ><img src="./assets/images/footer/instagram.png" alt=""
          /></a>
          <a
            href="https://vk.com/nik_voi"
            class="footer__nav-link"
            target="blank"
            ><img src="./assets/images/footer/vk.png" alt=""
          /></a>
          <a
            href="https://www.youtube.com/channel/UCcyJ3fTrt0mSNLJH-t3PndA"
            class="footer__nav-link"
            target="blank"
            ><img src="./assets/images/footer/youtube.png" alt=""
          /></a>
        </div>
        <div class="footnav__line"><hr /></div>
      </div>
      <div class="footer__text">© SHELFLIFE STORE. ALL RIGHTS RESERVED</div>
    </div>
  </div>
</footer>
