<header class="header">
  <div class="header__top">
    <div class="content">
      <div class="header__img">
        <a href="../index.html"
          ><img src="../assets/images/logo.png" alt="logo" class="header__logo"
        /></a>
      </div>
      <div class="header__flex">
        <div class="header__top inf">
          <div class="inf__left">
            международный интернет-магазин кроссовок и уличной одежды
          </div>
          <div class="inf__right">
            <ul class="inf__click">
              <li><a href="#" class="inf__link">Политика Доставки</a></li>
              <li>
                <a href="./wish_ist.html" class="inf__link"
                  >Список желаний (0)</a
                >
              </li>
              <li>
                <a href="#" class="inf__link" data-modal="sing-modal">Войти</a>
              </li>
              <li>
                <a href="#" class="inf__link" data-modal="reg-modal"
                  >Регестрация</a
                >
              </li>
              <li><a href="#" class="inf__link"> Админ </a></li>
              <li class="inf__item">
                <a class="inf__link has-subnav">User</a>
                <ul class="subnav">
                  <li>
                    <a href="./profile.html" class="subnav__link"> Профиль </a>
                  </li>
                  <li>
                    <a href="#" class="subnav__link">
                      Пополнить баланс
                    </a>
                  </li>
                  <li><a href="#" class="subnav__link"> выйти </a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="header__bot nav">
          <div class="nav__left">
            <a href="../product.html" class="nav__link"> <div class="nav__btn">Новинки</div></a>
            <a href="#" class="nav__link"> <div class="nav__btn">Мужское</div></a>
            <a href="#" class="nav__link"> <div class="nav__btn">Женское</div></a>
            <a href="#" class="nav__link"> <div class="nav__btn">Акция</div> </a>
            <a href="#" class="nav__link"> <div class="nav__btn">Влог</div> </a>
            <a href="#" class="nav__link"> <div class="nav__btn">Контакты</div>
            </a>
          </div>

          <div class="nav__right">
            <a href="#" class="nav__link-ico">
              <div class="nav__btn">
                <img src="../assets/images/search.png" alt="Поиск" />
              </div>
            </a>
            
            <a href="#" class="nav__link-ico" data-modal="basket-modal">
              <div class="nav__btn">
                <img src="../assets/images/basket.png" alt="Корзина" />
                <div class="nav__link-inf">0</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
