<div class="modal" id = "sing-modal">
    <div class="modal__content" >
        <h3>Вход в аккаунт</h3>

        <img src="/assets/images/close-white.png" alt="close" class="form__close">

        <form action="">
        <div class="form__group form__grop--md form__grop--mt">
            <input class="form__control" type="email" placeholder="Введите e-mail" />
            <span class = "form__line"></span>
        </div>

        <div class="form__group form__grop--md">
            <input class="form__control" type="password" placeholder="Введите пароль" />
            <span class = "form__line"></span>
        </div>

        </form>

        <div class="btn">
            <button class="btn-reg"> Войти</button>
        </div>
    </div>
</div>  