<!DOCTYPE html>
<html lang="ru">
  <head>
    {{> head }}
  </head>
  <body >
    {{> header }} 
    
    {{> body }} 
      
   

    {{> sing-modal }} 
    {{> reg-modal }}
    {{> picter-modal }}  
    {{> basket-modal }}  
    
    {{> footer }}   
    <script src="./assets/js/calcBasket.js"></script>
    <script src="./assets/js/statusCard.js"></script>
    <script src="./assets/js/app.js"></script>
    <script src="./assets/js/modal.js"></script>
    <script src="./assets/js/btn.js"></script>
    <script src="./assets/js/counter.js"></script>
    <script src="./assets/js/add-basket.js"></script>
    <script src="./assets/js/add-folow.js"></script>
   
    
  </body>
</html>
